@use './../utils' as *;

[class*="__title"]{
  @include flexbox(column,center);
  @include textHeading(18px);
}

[class*="__summary"]{
  @include textStyle(14px);
}

.home{
  padding: rem(16px) rem(24px);
  [class*="__title"]{
    margin-bottom: rem(16px);
  }

  @include mobile{
    @include flexbox(column);
    gap: rem(16px);
  }

  @include desktop{
    @include boxSizeMax;
    @include gridBox;
    grid-template-areas: "news news news news news news news news news news news news"
                         "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
                         "book book book book . board board board board board board board";
  
    .book{
      grid-area: book;
    }
    .news{
      grid-area: news;
    }
    .board{
      grid-area: board;
    }
    .favorite{
      grid-area: favorite;
    }
    .twitter{
      grid-area: twitter;
    }
  
  }

}

.book{
  &__cover{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  &__coverCaption{
    margin-top: rem(16px);
  }
  &__info{
    @include MarginY(16px);
    dt:first-child{
      margin-right: rem(8px);
    }
    @include flexbox($j: center, $w: wrap);
  }
  &__info .ratingStar{
    width: 100%;
    font-size: rem(32px);
    text-align: center;
  }
}

.news{
  
  &__date{
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
}

.board{
  position: relative;
  &__list{
    @include flexbox($d: column);
    gap: 0.5rem;
  }
  &__item{
    @include flexbox($d: row, $j: space-between);
  }
  &__link{
    flex-grow: 1;
    margin-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date{
    white-space: nowrap;
  }

  &__more{
    @include posRight($t: 0, $r: 0);
  }
}

.favorite{
  &__link::after{
    content: attr(data-tooltip);
    color: $accent-favorite;
    font-size: rem(12px);
  }
  &__list{
    @include flexbox($d: column);
    gap: 1rem;
  }
}

.twitter{
  &__container{
    display: flow-root;
  }

  &__userInfo{
    display: inline-flex;
    gap: 0.5rem;
    float: left;
  }

  &__userProfile{
    float: right;
    width: 20%;
    max-width: 110px;
    height: 110px;
    shape-outside: circle(50%);
  }
  &__userProfileImage{
    border-radius: 50%;
  }
}

.iframeWrapper{
  padding-top: 56.25%;
  @include responseIframe;
}



/*
.home{
  .book__info{
    @include flexbox(row, $w: wrap, $j: center);
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
`


  @include desktop{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "news news news news news news news news news news news news"
                         "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
                         "book book book book . board board board board board board board";
    grid-gap: 1rem;

    .book{
      @include gridArea(book);
    }
    .news{
      @include gridArea(news);
    }
    .board{
      @include gridArea(board);
    }
    .favorite{
      @include gridArea(favorite);
    }
    .twitter{
      @include gridArea(twitter);
    }
    
    
  }
  
}
*/
